.nav{
    background-image: url('./perro3.jpg');
    /* object-fit: cover; */
    object-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 10px;
    height: 150px;
    color: #cfc5c5;
    margin-top: 10px;


}
.men{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:initial;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 10px 10px 15px #999;
}

.titule{
    padding-left: 50px;
    font-size: large;
    
}