/* .paginacion ul li a{
    display: block;
    padding: 7px 14px;
    color:#fff;
    background: #978686;
    margin-top: 5px;
}
.paginacion ul li a:hover {
    background: #bcc4dc;
}
.paginacion ul li a:active{
    background:#bcc4dc;
    font-weight: bold;
} */

.number{
    width: 35px;
    background: #978686;
    cursor: pointer;
}
.number:hover{
    background: #bcc4dc;
}
